/*
 * Style tweaks
 * --------------------------------------------------
 */
 html,
 body {
    overflow-x: hidden;  /*Prevent scroll on narrow devices */
    padding-top: 0px;
    text-align: justify;
 }
 footer {
   padding: 10px 0;
 }
 .authors {
   font-size: 20px;
 }
 /*.container {
   max-width: 768px;
 }*/
 .container {
  max-width: 90%;
  width: 90%;
  margin: auto;
 }
 p {
   font-size: 19px;
   /*padding-bottom: 20px;*/
 }
 
 li {
   font-size: 18px;
 }
 
 h2 {
     text-align: center;
     align: center;
 }
 
 .jumbotron{
     text-align: center;
 }
 
 .btn {
     font-size: 18px;
 }
 
 .btn-disabled {
     /* background-color: #f4f4f4; */
 }
 
 .jumbotron h2 {
   font-size: 36px;
 }
 
 .section {
   padding-top: 30px;
 }
 
 .center{
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
 .vcontainer {
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
 }
 .video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
 
 .gif {
     padding:10px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }
 
 .caption {
   width:75%; 
   font-size:14px
 }
 
 .bibtexsection {
   font-family: "Courier",monospace;
   font-size:16px;
   white-space:pre;
   background-color: #f4f4f4;
   text-align:left;
 }
 
 .canvas-row canvas {
   max-width:100%;
 }
 
 .padding-0{
     padding-right:0;
     padding-left:0;
 }
 
 .vspace-top {
     margin-top: 20px;
 }

 .sub-title::before {
  content: "● "; 
  color: black; 
  font-size: 1.2em;
  margin-right: 5px;
}

.sub-title.hollow::before {
  content: "○ ";
}
 
.custom-link {
  color: #48b1a8;
}

.custom-link:hover {
  color: rgb(236, 202, 5);
}

.text-shadow {
  /* font-size: 80px; */
  color: #48b1a8;
  text-shadow: 
      -2px -2px 0 rgb(235, 229, 196),
       2px -2px 0 rgb(235, 229, 196),
      -2px  2px 0 rgb(235, 229, 196),
       2px  2px 0 rgb(235, 229, 196);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #282828;
  color: white; 
  padding: 4px 4px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-decoration: none;
}

.button img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: block;
  margin-left: 10px;
}

.button span {
  margin-right: 8px;
}

.button:hover {
  background-color: #3a3a3a;
  color: rgb(236, 202, 5);
}

